USE [FoodService]
GO
/****** Object:  View [dbo].[v_lunch_dish_with_all]    Script Date: 26-10-2024 22:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_lunch_dish_with_all] AS
SELECT
    ld.id AS dish_id,
    ld.year,
    ld.week,
    ld.day,
    lt.name AS type_name,
    lt.displayname AS type_displayname,
    ld.dish,
    ld.allergens,
    ll.name AS language_name,
    ll.displayname AS language_displayname,
    loc.name AS location_name,
    loc.displayname AS location_displayname,
    loc.enabled AS location_enabled,
    ld.iterator,
    la.asset
FROM 
    [FoodService].[dbo].[lunch_dish] ld
LEFT JOIN 
    [FoodService].[dbo].[lunch_type] lt ON ld.type_id = lt.id
LEFT JOIN 
    [FoodService].[dbo].[lunch_language] ll ON ld.language_id = ll.id
LEFT JOIN 
    [FoodService].[dbo].[lunch_location] loc ON ld.location_id = loc.id
LEFT JOIN 
    [FoodService].[dbo].[lunch_dish_asset] lda ON ld.id = lda.dish_id
LEFT JOIN 
    [FoodService].[dbo].[lunch_asset] la ON lda.asset_id = la.id;
GO
