USE [FoodService]
GO
/****** Object:  Table [dbo].[lunch_provider_language]    Script Date: 27-10-2024 16:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lunch_provider_language](
	[provider_id] [int] NOT NULL,
	[language_id] [int] NOT NULL
) ON [PRIMARY]
GO
