USE [FoodService]
GO
/****** Object:  Table [dbo].[lunch_dish]    Script Date: 24-10-2024 19:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lunch_dish](
	[id] [int] NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
	[day] [int] NOT NULL,
	[type_id] [int] NOT NULL,
	[dish] [text] NOT NULL,
	[allergens] [text] NOT NULL,
	[asset_id] [int] NULL,
	[location_id] [int] NULL,
	[language_id] [int] NULL,
 CONSTRAINT [PK_lunch_dish] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
