USE [FoodService]
GO
/****** Object:  Table [dbo].[lunch_asset]    Script Date: 26-10-2024 22:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lunch_asset](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[asset] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_lunch_dish_asset] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
