USE [FoodService]
GO
/****** Object:  Table [dbo].[lunch_location_language]    Script Date: 26-10-2024 22:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lunch_location_language](
	[location_id] [int] NOT NULL,
	[language_id] [int] NOT NULL
) ON [PRIMARY]
GO
