<configuration>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <!-- Handle Authorization Header -->
                <rule name="Authorization Header" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_AUTHORIZATION}" pattern=".+" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}" />
                    <serverVariables>
                        <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
                    </serverVariables>
                </rule>

                <!-- Redirect Trailing Slashes If Not A Folder -->
                <rule name="Redirect Trailing Slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Send Requests to Front Controller -->
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
